@charset "UTF-8";
@import './normalize.css';

/* common */
@import './common/img';

/* components */
@import '../components/Button/button';
@import '../components/Filter/filter';
@import '../components/Card/card';

/* containers */
@import '../containers/CardList/card';

/* responsive */
@import './layout';

/* global */
html,
body,
#root,
#root > div {
  max-width: 100%;
  font-family: AppleSDGothicNeo;
}

/* semantic web .. */
h1 {
  display: none;
}
