.image {
  height: auto;
  &.avatar {
    width: 40px;
  }

  &.book {
    position: absolute;
    width: 28px;
    bottom: 11px;
    right: 10px;
  }

  &.feed {
    flex: auto;
    width: 100%;
    border-radius: 10px;
  }

  &.check {
    padding-right: 0.5rem;
  }
}
