.image {
  height: auto;
  &.avatar {
    width: 40px;
  }

  &.book {
    position: absolute;
    width: 28px;
    bottom: 19px;
    right: 12px;
  }

  &.feed {
    flex: auto;
    width: 100%;
    border-radius: 10px;
  }
}
